@import "leaflet/dist/leaflet.css";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
.leaflet-tile {
  transition: opacity 0.6s linear;
}

.leaflet-layer {
  transition: opacity 0.6s linear;
}